@keyframes football{
    from{
        transform:translateY(0px) rotate(0deg);

    }
    to{
        transform: translateY(300px) rotate(360deg);
    }
}
.main{
    height: 100px;
    width: 100px;
    animation-name: football;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}